<!-- cover -->
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center cover">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">VR LAB</h1>
    <p class="lead font-weight-normal">A customized lab training application. No worries, make mistakes and learn from them. Improve your learning experience to the next level with virtual reality.</p>
    <a class="btn btn-outline-secondary" href="#">Explore</a>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <!-- left one -->
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Login</h2>
      <p class="lead">Log in to get your customized report.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <div class="container text-dark">
        <app-login></app-login>
      </div>
    </div>
  </div>
  <!-- right one -->
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Download</h2>
      <p class="lead">Download to start training.</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>

<!-- bottom one -->
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-secondary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Methodology</h2>
      <p class="lead">check out our unique features.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 450px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>

